#keys h1 {
    opacity: 0.2;
    text-align: center;
    margin: 1em 0 1em 0;
}
#keys table .actions button {
    margin-right: 1em;
}
#keys #edit-secret h3 {
    opacity: 0.5;
    text-align: center;
    margin-top: 0 !important;
    margin-bottom: 1em !important;
}